#location_select_form {
    display: inline-block;
}

.location_select{
    height: 44px;
    border: none;
    overflow: wrap;
    /* overflow: hidden; */
    display: flex-box;
    width: 800px;
    color: white; /* color of the selected option */
  }
.location_select::-moz-focus-inner {
    border: 0;
  }
.location_select:focus {
    outline: none;
  }
.location_select option{
    /* width: px; */
    font-size: 1.4em;
    font-weight: 700;
    padding: 11px;
    text-align: center;
    margin-right: 20px;
    display: inline-block;
    cursor: pointer;
    background-color: #2299ff;
    /* border-radius: 5px; */
    color: whitesmoke;
  }

.location_select option:checked {
    background: linear-gradient(#4499ff, #4499ff);
    color: rgb(204, 204, 0);
  }