body {
  margin: 0;
  font-family: 'Comfortaa', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-image: url("../public/images/mistybg.jpg"); */
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: #ffffff;
  font-size: 25px;
  line-height: 1.5;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* flex styling described here: https://www.youtube.com/watch?v=-pcMxrugSbs */

h1, h2, h3, h4, h5 {
  padding: 5px;
  margin: 0px;
  box-sizing: border-box;
}

.wrapper {
  padding: 30px 30px 300px;
}

.columns {
  margin: 0 -15px;
  flex-wrap: wrap;
  display: flex;
}

.col {
  margin: 0 15px 30px;
  padding: 20px;
  border-radius: 6px;
  box-sizing: border-box;
  background: rgba(255,255,255,0.7);
}

.col-30 {
  width: calc(33.33% - 30px)
}

.col-50 {
  width: calc(50% - 30px)
}

.col-100 {
  width: calc(100% - 30px)
}

.col-middle-box {
  margin: 0px 120px 120px;
  padding: 20px;
  border-radius: 6px;
  box-sizing: border-box;
  background: rgba(255,255,255,0.7);
  width: calc(100% - 240px)
}

@media screen and (max-width: 800px) {
  .col-50 {
    width: 100%;
  }

  .col-middle-box {
    margin: 0px 15px 30px;
    width: 100%;
  }
}

.centered {
  text-align: center;
}


/* image gallery */

/* ======================================
Responsive Image gallery Style rules
======================================*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* this font can be re-thought */

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  padding: 40px 5%;
}

.group-heading {
  margin-top: 120px;
  font-size: 37px;
  text-align: center;
}

.heading-text {
  margin-bottom: 2rem;
  font-size: 2rem;
  text-align: center;
}

.heading-text span {
  font-weight: 100;
}

ul {
  list-style: none;
}

/* Responsive image gallery rules begin*/

.image-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  gap: 30px;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

.image-gallery > li {
  flex-basis: 320px; /*width: 350px;*/
  position: relative;
  cursor: pointer;
}

.image-gallery::after {
  content: "";
  flex-basis: 350px;
}

.image-gallery li img {
  object-fit: cover;
  width: 320px;
  height: 230px;
  vertical-align: middle;
  border-radius: 5px;
}

/* img {
  display: block;
  max-width:230px;
  max-height:95px;
  width: auto;
  height: auto;
} */

.overlay {
  /* position: absolute; */
  /* width: 100%; */
  /* height: 100%; */
  /* background: rgba(57, 57, 57, 0.502); */
  /* top: 0; */
  /* left: 0; */
  /* transform: scale(0); */
  /* transition: all 0.2s 0.1s ease-in-out; */
  /* color: #fff; */
  font-size: 25px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
} 

a.image-link {
  display: "table-cell"
}

/* hover */
.image-gallery li:hover .overlay {
  transform: scale(1);
}

/* nav pills */

.nav {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

ul.nav {
  margin-top: 0;
  box-sizing: border-box;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

.nav {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  position: sticky;
  display: block;
}

.nav-link {
  text-transform: uppercase;
  font-size: .7rem;
  font-weight: 900;
  line-height: 1em;
  letter-spacing: .1px;
  color: #fff;
  padding: 4px 6px 3px;
  margin-right: 9px;
  margin-bottom: 0.25rem;
  /* background: #e44a18; */
  background: #2255AA;
  float: inline-start;
}

.nav-pills {
  display: inline;
}

.nav-pills .nav-link, .nav-pills .menu-item>a {
  padding: 0.5em 1em;
  border-radius: 0.1rem;
}

a {
  touch-action: manipulation;
  text-decoration: none;
  cursor: pointer;
}

/* a.nav-link {
  display: block; 
} */

.nav-pills:after {
  content: "";
  display: table;
  clear: both;
}

/* scroll to top button */


#topBtn {
  /* display: none; */
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: rgb(96, 8, 8);
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#topBtn:hover {
  background-color: #555;
}
