body {
  margin: 0;
  font-family: 'Comfortaa', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("../public/images/mistybg.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: #d19a87;
  font-size: 25px;
  line-height: 1.5;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* flex styling described here: https://www.youtube.com/watch?v=-pcMxrugSbs */

h1, h2, h3, h4, h5 {
  padding: 5px;
  margin: 0px;
  box-sizing: border-box;
}

.wrapper {
  padding: 30px 30px 300px;
}

.columns {
  margin: 0 -15px;
  flex-wrap: wrap;
  display: flex;
}

.col {
  margin: 0 15px 30px;
  padding: 20px;
  border-radius: 6px;
  box-sizing: border-box;
  background: rgba(255,255,255,0.7);
}

.col-30 {
  width: calc(33.33% - 30px)
}

.col-50 {
  width: calc(50% - 30px)
}

.col-100 {
  width: calc(100% - 30px)
}

.col-middle-box {
  margin: 0px 120px 120px;
  padding: 20px;
  border-radius: 6px;
  box-sizing: border-box;
  background: rgba(255,255,255,0.7);
  width: calc(100% - 240px)
}

@media screen and (max-width: 800px) {
  .col-50 {
    width: 100%;
  }

  .col-middle-box {
    margin: 0px 15px 30px;
    width: 100%;
  }
}

.centered {
  text-align: center;
}

/* sidebar */

.sidebar {
  height: auto;
  width: 130px;
  position: sticky;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  /* overflow-x: hidden; */
  transition: 0.5s;
  padding-top: 10px;
  line-height: 18px;
  margin-left: -28px;
  overflow-y: scroll;
}

.sidebar a {
  padding: 8px 8px 8px 8px;
  text-decoration: none;
  font-size: 18px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}

/* nav pills */

.nav {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

ul {
  margin-top: 0;
  box-sizing: border-box;
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

.nav {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  position: sticky;
  display: block;
}

.nav-link {
  text-transform: uppercase;
  font-size: .7rem;
  font-weight: 900;
  line-height: 1em;
  letter-spacing: .1px;
  color: #fff;
  padding: 4px 6px 3px;
  margin-right: 9px;
  margin-bottom: 0.25rem;
  /* background: #e44a18; */
  background: #2255AA;
  float: inline-start;
}

.nav-pills {
  display: inline;
}

.nav-pills .nav-link, .nav-pills .menu-item>a {
  padding: 0.5em 1em;
  border-radius: 0.1rem;
}

a {
  touch-action: manipulation;
  text-decoration: none;
  cursor: pointer;
}

a.nav-link {
  /* display: block; */
}

.nav-pills:after {
  content: "";
  display: table;
  clear: both;
}


